a {
  color: #863ab5;
}

a:hover {
  color: #713198;
}

header .header_top .user-dropdown-content .user-detail .user-logout a {
  background: #863ab5;
  border-color: #863ab5;
}

header .header_top .user-dropdown-content .user-detail .user-logout a:hover {
  background: #713198;
  border-color: #713198;
}

.changePasswordFormContainer .cp-inner .btn-primary,
.changeEmailFormContainer .cp-inner .btn-primary {
  background: #863ab5;
}

.changePasswordFormContainer .cp-inner .btn-primary:hover,
.changeEmailFormContainer .cp-inner .btn-primary:hover {
  background: #713198;
}

header .header_bottom {
  background: #863ab5;
}

header .header_bottom .header_bottom_nav ul li a:hover {
  background: #713198;
}

header .header_bottom .header_bottom_nav ul li.versions-selection .version-dropdown ul li a:hover {
  background: #863ab5;
}

header .header-dropdown-selection .header-dropdown ul li a:hover {
  background: #863ab5;
}

footer .footer_social ul li a {
  background: #863ab5;
}

footer .footer_social ul li a:hover {
  background: #713198;
}

.help_box .btn_primary {
  background: #863ab5;
}

.help_box .btn_primary:hover {
  background: #713198;
}

.left_sidebar .left_sidebar_nav ul li a.active {
  background: #863ab5;
}

.landing_top .search-sec .search-icon-btn {
  color: #863ab5;
}

.landing_top a.header-link:hover {
  color: #863ab5;
}

.landing_top.no-cover a.header-link:hover {
  background: #863ab5;
  color: #FFF;
  border-color: #863ab5;
}

.contributor-hero-section {
  background: #863ab5;
}

.contributor-article-pagination ul li.active {
  background: #863ab5;
}

.progress-container .progress-bar {
  background: #863ab5;
}

.progress-container .progress-bar .progress-shadow {
  box-shadow: #863ab5 0px 0px 10px;
}

.search-results-container #hits .ais-Hits-list li .header_search_Results div {
  color: #863ab5;
}

.search-results-container #pagination .ais-Pagination-list li.ais-Pagination-item--selected a {
  background: #863ab5;
}

.contributor-top-head .top-header-l .versions-selection .version-dropdown ul li a:hover {
  background: #863ab5;
}

.left-sidebar-toggle .left-arrow:hover {
  color: #ffffff;
  background: #863ab5 !important;
  border-color: #863ab5 !important;
}

.left-sidebar-toggle .right-arrow:hover {
  color: #ffffff;
  background: #863ab5 !important;
  border-color: #863ab5 !important;
}

.left-sidebar-toggle:hover+.left_sidebar .left_sidebar_nav:after,
.left-sidebar-toggle:hover+.left_sidebar .left_sidebar_nav:after {
  background: #863ab5;
}

#doc_feedback_collect .actions .btn.btn-primary {
  background: #863ab5;
}

.content_block .content_container .content_block_head .category-contributor-info .contributor-images .other-count {
  background-color: #863ab5;
}

.content_block .content_container .content_block_text .category-index-view .category-index-item .index-article-contributors .index-article-contributor-images .index-article-other-count {
  background-color: #863ab5;
}

.back-to-top {
  background-color: #863ab5;
}

div[data-snippet] .remove-callout,
.code-language {
  display: none;
}

.landing_widget .widget_block .widget_links li a {
  color: #863ab5;
}

.landing_widget .widget_block .widget_links li a:hover {
  color: #863ab5;
}

body,
.btn {
  font-family: Nunito, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Red Hat Display;
}

.contact-feedback-hero-section {
  background-color: #863ab5;
}

#contactus_feedback_collect_search .actions .btn.btn-primary {
  background: #863ab5;
}

.contactSearchButton {
  background: #863ab5;
}

.contact-feedback-container .contact-search-fedback .contact-search-fedback-actions .contact-search-fedback-r .btn.btn-primary {
  background-color: #863ab5;
  border-color: #863ab5;
}

.generate_pdf_spinner {
  border: 1px solid #863ab5;
  border-right: 0;
  border-top: 0;
  border-color: #863ab5 !important;
}

.article-badge,
.article-badge:hover {
  border: 1px solid #863ab5 !important;
  color: #863ab5 !important;
  background: transparent !important;
  transition: all 0.2s ease-in-out;
}

#pagination-demo li span {
  color: #863ab5;
}

#pagination-demo li.active span {
  background: #863ab5;
}

#pagination-demo li:first-child.active span,
#pagination-demo li:last-child.active span {
  color: #863ab5;
}

.landing_home .custom_block:nth-child(2)::before {
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
  position: absolute;
  background-color: #f4f0eb;
}

.main-relative {
  position: relative;
  padding-bottom: 80px;
}

.wave_animate {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 80px;
  overflow: hidden;
  z-index: -1;
}

.wave {
  bottom: 0;
  background: url('https://doc360-dev-cdn.azureedge.net/7206ffb4-0308-4383-a8d5-b8f495081480/Images/Documentation/wave.svg') repeat-x center;
  position: absolute;
  height: 150px;
  width: 6400px;
  animation: wave_animation 30s infinite cubic-bezier(0.33, 0.49, 0.66, 0.53) both, wave_animation1 5s infinite ease both;
  z-index: -1;
}

.wave1 {
  transform: translate(-1133px, -10px);
  -webkit-transform: translate(-1133px, -10px);
  opacity: .5;
  animation: wave_animation 30s infinite cubic-bezier(0.33, 0.49, 0.66, 0.53) both, wave_animation2 20s infinite ease both;
}

.wave2 {
  transform: translate(-550px, -30px);
  -webkit-transform: translate(-550px, -30px);
  opacity: .5;
  animation: wave_animation 30s infinite cubic-bezier(0.33, 0.49, 0.66, 0.53) both, wave_animation3 20s infinite ease both;
}

.landing_home .custom_block {
  position: relative;
}

.landing_top .search-sec input[type=search] {
  border-radius: 25px 25px 25px 25px;
}

.landing_top {
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.landing_top_inner.center h1 {
  line-height: 1.5;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}

.landing_top_inner.center h1 span {
  color: #8005D8;
}

.landing_top a.header-link {
  border-radius: 0px 50px 50px 50px;
  background-color: #FDDE74;
  border: 2px solid #FDDE74;
  color: #000;
  font-weight: bolder;
  /*documentaion button*/
}

.landing_top a.header-link:hover {
  background-color: #8005D8;
  border: 2px solid #8005D8;
  color: white;
  transition: all 0.5s ease;
}

.landing_top .search-sec {
  width: 600px !important;
}

.search-form {
  position: relative;
}

.landing_top .search-sec .ais-SearchBox-submit {
  border-radius: 0px 25px 25px 25px;
  background-color: #8005D8;
  color: white;
  padding: 10px;
  right: 0;
  width: 55px;
  height: 52px;
  left: auto;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.landing_top .search-sec .ais-SearchBox-submit svg {
  fill: #fff;
}

header .header_top .header_top_nav ul li a.action-item {
  border-radius: 0px 50px 50px 50px;
}

.landing_top .search-sec {
  clear: both;
  margin: 25px auto 0;
  position: relative;
  width: 800px;
}

/*card start*/
.main {
  display: flex;
  max-width: 1450px;
  margin: auto;
  margin-top: 110px;
  width: calc(100% - 60px);
  line-height: 1.5;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-right: 20px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid #f4f0eb;
  text-decoration: none;
  color: #000;
  flex: 0 0 32%;

}

.card .readlink {
  font-weight: 600;
}

.card:hover {
  color: #000;
}

.readlink i {
  margin-left: 5px;
  transition: 0.3s all ease-in-out;
  vertical-align: middle;
}

.card:hover .readlink i {
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}

.card:last-child {
  margin: 0;
}

.cardimg {
  max-width: 100%;
}

.cardhead {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.img-cont {
  background-color: #F4F0EB;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 0px 0px;
}

.cardsub {
  padding: 30px 30px 40px;
}

.vdomain {
  display: flex;
  max-width: 1300px;
  width: calc(100% - 160px);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 0 25px 25px;

}

.leftvdo {
  background-color: #F4F0EB;
  padding: 40px 30px;
  flex: 0 0 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leftvdo h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
}

.btnvdo {
  border-radius: 0px 25px 25px 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #101010;
  border: 2px solid #101010;
  color: white;
  margin-top: 15px;
  width: 140px;
  text-decoration: none;
}

.btnvdo:hover {
  background-color: #8005D8;
  border: 2px solid #8005D8;
  color: white;
}

.rightvdo {
  width: 50%;
  background: #fff;
  overflow: hidden;
  flex: 0 0 55%;
  padding: 40px 60px;
}

.rightvdo iframe {
  height: 300px;
  width: 100%;
  border: 0;
  border-radius: 25px;
}

.rightvdo button.slick-arrow {
  position: absolute;
  left: -40px;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  background: transparent;
  top: calc(50% - 15px);
}

.rightvdo button.slick-arrow::after {
  position: absolute;
  content: "\f0a8";
  height: 30px;
  width: 30px;
  font-size: 22px;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Pro";
  color: #8005d8;
  display: flex;
  align-items: center;
  justify-content: 0;
}

.rightvdo button.slick-next::after {
  position: absolute;
  content: "\f35a";
  height: 30px;
  width: 30px;
  font-size: 22px;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Pro";
  color: #8005d8;
  display: flex;
  align-items: center;
  justify-content: 0;
}

.rightvdo button.slick-next {
  right: -50px;
}

.rightvdo .videoplay .slick-next {
  right: -50px;
  left: auto;
}

.rightvdo .videoplay {
  padding: 0;
  margin: 0;
}

.rightvdo .videoplay.slick-slider {
  display: none;
}

.rightvdo .videoplay.slick-slider.slick-initialized {
  display: block;
}

.vdoimg {
  padding-top: 30px;
}

.mainsupport {
  font-family: 'Nunito';
  background-color: #FDDE74;
  display: flex;
  padding: 80px 70px 70px;
  border-radius: 0px 25px 25px 25px;
  width: calc(100% - 160px);
  align-items: center;
  justify-content: space-between;

}

.caption {
  font-size: 34px;
  font-weight: 900;
}

.sub {
  font-size: 16px;
}

.pill {
  display: inline-block;
  margin-left: 20px;
  border-radius: 0px 25px 25px 25px;
  background-color: #101010;
  border: 5px solid #101010;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  text-decoration: none;
}

.pill:hover {
  background-color: #8005D8;
  border: 5px solid #8005D8;
  transition: all 0.5s ease;
  color: #fff;
}

.righthead {
  display: block;
}

.footlist ul li {
  list-style-type: none;
}


.footlist {
  display: flex;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: 'Nunito';
  width: 100%;
}

.footlogo {
  width: 110px;
  margin-bottom: 30px;
}

.footcol .social-links a {
  display: inline-flex;
  width: 35px;
  background-color: black;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  padding: 0;
  height: 35px;
  justify-content: center;
  border-radius: 0px 100px 100px 100px;
  align-items: center;
}

.footcol .social-links a:hover {
  text-decoration: none;
}

.social-links a:hover {

  background-color: #FDDE74;
  transition: all 0.5s ease;
  color: #F4F0EB;
}

.social-links a i {
  font-size: 15px;
  line-height: 1;
}

.listhead {
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  margin-bottom: 30px;
}

.footcol {
  margin-left: 50px;
  line-height: 1.5;
}

.footcol ul li {
  margin-bottom: 8px;

}

.footcol.footcol-1 {
  width: 12%;
}

.footcol.footcol-2 {
  width: 20%;
}

.footcol.social,
.footcol.footcol-3 {
  width: 25%;
}


.footmail {
  color: #8005D8;
}

.footid {
  color: #000;
}

.social a {
  color: #8005D8;
  text-decoration: none;
}

.social a:hover {
  text-decoration: underline;
}

.footlist .footcol ul li a {
  text-decoration: none;
  color: #000;
}

.footlist .footcol ul li a:hover {
  text-decoration: underline;
  color: #8005D8;
}

.footcol li:hover {
  text-decoration: underline;
  color: #8005D8;
}

.footcol ul {
  padding: 0;
  margin: 0;
}



.footcopy {
  display: flex;
  font-weight: bold;
}

.copylist li {
  padding-right: 30px;
}

.copylist {

  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.footer-main.main {
  margin-top: 0;
  font-size: 16px;
  justify-content: space-between;
}

.copylist a {
  text-decoration: none;
  color: #000;
}

.copylist a:hover {
  text-decoration: underline;
  color: #8005D8;
}






@media(max-width:1220px) {
  .rightvdo iframe {
    height: 225px;
  }

  .mainsupport {
    width: 100%;
    padding: 50px 40px 40px;
  }

  .footcol {
    margin-left: 22px;
  }
}

@media(max-width:1199px) {


  .landing_top {
    height: 400px;
    align-items: flex-start;
  }

  .main {
    margin-top: 80px;
  }

  .cardsub {
    padding: 20px 20px 30px;
  }

  .img-cont {
    height: 200px;
    padding: 20px;
    align-items: unset;
  }

  .card {
    flex: 0 0 31%;
  }
}

@media(max-width:991px) {
  .landing_top_inner.center h1 {
    font-size: 22px;
  }

  .card {
    flex: 0 0 47%;
    margin-bottom: 30px;
  }

  .footlist {
    flex-wrap: wrap;
  }

  .footcol {
    margin: 0 0 25px;
    flex: 0 0 100%;
  }

  .listhead {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .cardhead {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .vdomain {

    flex-wrap: wrap;
  }

  .leftvdo,
  .rightvdo {
    flex: 0 0 100%;
  }

  .rightvdo {
    padding: 40px 60px 20px;
  }

  .mainsupport {
    padding: 30px 30px 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .leftvdo h3 {
    font-size: 20px;
  }

  .caption {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .sub {
    margin-bottom: 20px;
  }

  .pill {
    margin-left: 0;
    margin-right: 20px;
  }

  .landing_top .search-sec {
    width: 100% !important;
    max-width: 600px;
  }
}

@media(max-width:500px) {
  .landing_top_inner.center h1 {
    font-size: 18px;
  }

  .main {
    font-size: 14px !important;
    margin-top: 40px;
  }

  .landing_top .promo-text {
    font-size: 14px;
  }

  .landing_top a.header-link,
  .pill {
    font-size: 12px;
  }

  .landing_top .search-sec input[type=search] {
    height: 40px;
    padding: 0 50px 0 20px;

  }

  .landing_top .search-sec .ais-SearchBox-submit {
    width: 45px;
    height: 42px;
  }

  .card {
    flex: 0 0 100%;
    margin: 0 0 30px;

  }

  .cardhead {
    font-size: 14px;
  }

  .vdomain {
    flex: 0 0 100%;

  }

  .rightvdo {
    padding: 15px 10px 25px;

  }

  .rightvdo button.slick-arrow {
    top: auto;
    bottom: -10px;
    left: calc(100% - 70px);
  }

  .rightvdo button.slick-arrow.slick-next {
    left: auto;
    right: 10px;
  }

  .mainsupport .pill {
    margin-bottom: 12px;
  }

  .c-right {
    margin-top: 10px;
  }
}


#smartBarContainer1 .info-bar .info-bar-in .info-bar-cont {
  width: 100%;
  text-align: center;
}