.custom-footer
  .main
    .footlist
      .footcol.footcol-1
        img.footlogo(src='https://cdn.document360.io/860f9f88-412e-4570-8222-d5bf2f4b7dd1/Images/Documentation/kovai-co-logo.png')
        ul
          li
            a(href='https://www.kovai.co/about-us' target='_blank') About us
          li
            a(href='https://www.kovai.co/about-us' target='_blank') Our team
          li
            a(href='https://www.kovai.co/our-culture' target='_blank') Our culture
          li
            a(href='https://www.kovai.co/careers' target='_blank') Careers
      .footcol.footcol-2
        p.listhead Document360
        ul
          li
            a(href='https://document360.com/customers/' target='_blank') Customers
          li
            a(href='https://document360.com/pricing/' target='_blank') Pricing
          li
            a(href='https://document360.com/resources/' target='_blank') Resources
          li
            a(href='https://document360.com/request-demo/' target='_blank') Request a demo
          li
            a(href='https://document360.com/migration-request/' target='_blank') Migration Request
      .footcol.footcol-3
        p.listhead Features
        ul
          li
            a(href='https://document360.com/features/' target='_blank') Overview
          li
            a(href='https://document360.com/knowledgebase-portal/' target='_blank') Knowledgebase Portal
          li
            a(href='https://document360.com/knowledgebase-site/' target='_blank') Knowledgebase Site
          li
            a(href='https://document360.com/knowledgebase-assistant/' target='_blank') Knowledgebase Assistance
          li
            a(href='https://document360.com/integrations-and-extensions/' target='_blank') Integrations and Extensions
          li
            a(href='https://document360.com/platform-api/' target='_blank') Platform API
      .footcol.footcol-4
        p.listhead Support
        ul
          li
            a(href='https://docs.document360.com/docs' target='_blank') Documentation
          li
            a(href='https://document360.com/support/' target='_blank') Support
          li
            a(href='https://status.document360.com/' target='_blank') Status
          li
            a(href='https://feedback.document360.com/' target='_blank') Feedback
          li
            a(href='https://document360.com/contact-us/' target='_blank') Contact us
      .footcol.social
        p.listhead Connect Us
        a.maildocu(href='mailto:support@document360.com')
          i#footmail.fal.fa-envelope(aria-hidden='true')
          span.footid &nbsp;support@document360.com
        .social-links
          a(href='https://www.facebook.com/document360' target='_blank')
            i.fab.fa-facebook-f(aria-hidden='true')
          a(href='https://twitter.com/document360' target='_blank')
            i.fab.fa-twitter(aria-hidden='true')
          a(href='https://www.linkedin.com/showcase/document360/' target='_blank')
            i.fab.fa-linkedin-in(aria-hidden='true')
          a(href='https://www.youtube.com/c/Document360' target='_blank')
            i.fab.fa-youtube(aria-hidden='true')
  hr
  .footer-main.main
    .c-left
      ul.copylist
        li
          a(href='https://document360.com/terms/' target='_blank') Terms
        li
          a(href='https://document360.com/privacy/' target='_blank') Privacy Policy
        li
          a(href='https://document360.com/gdpr-compliance/' target='_blank') GDPR
    .c-right
      p &copy; 2021 Document360. All Rights Reserved.
