//- content below
block variables
  header
    .p-nav-top
      .p-nav-top-container.l-container
        a(href="/").p-nav-top-container_logo
          img(src="https://cdn.document360.io/logo/860f9f88-412e-4570-8222-d5bf2f4b7dd1/f547977b485d4911867fa513b65c70cb-d9fbfdf89cfe4253b80cdd797cb9c540-608cedae-534a-4514-8521-bafd7c0798c0.png")
        .p-nav-top-container_link
          .p-nav-links
            ul
              li: a(href="#") Features
              li: a(href="#") Pricing
              li: a(href="#") API
              li: a(href="#", style="background:#22201f;color:#ffffff;border-radius: 0px 50px 50px 50px;padding: 2px 10px 3px;").action-item Book a Demo
              li: a(href="#") Try Document360
          .p-nav-options
            .option-icon
              i(class="far fa-language")
            .option-dropdown
              button#dropdownMenuLink.btn.btn-sm.dropdown-toggle(data-bs-toggle="dropdown", type="button", aria-expanded="false") English
              ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dropdownMenuLink")
                li: a(href="#").active English
                li: a(href="#").active German
                li: a(href="#").active French
                li: a(href="#").active Spanish
                li: a(href="#").active Dutch
    .header_bottom
      .container
        .header_bottom_nav
          ul
            li
              a.home-icon(href='#')
                i.fal.fa-home(aria-hidden='true')
            li.whats-new-icon
              a.whats-new-icon(href='#')
                span(title="What's New")
                  i.fal.fa-gift(aria-hidden='true')
          .header_search
            #header_search_box.header_search_box
              #aa-input-container.aa-input-container.search-form
                #Searchform(name='searchform')
                  span.algolia-autocomplete(style='position: relative; display: inline-block; direction: ltr;')
                    input#aa-search-input.aa-input-search.aa-input(type='search' placeholder='Search' name='search' autocomplete='off' spellcheck='false' role='combobox' aria-autocomplete='both' aria-expanded='false' aria-owns='algolia-autocomplete-listbox-0' dir='auto' style='position: relative; vertical-align: top;')
                    pre(aria-hidden='true' style='position: absolute; visibility: hidden; white-space: pre; font-family: Arial; font-size: 13.6px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;').
                      
                    span#algolia-autocomplete-listbox-0.aa-dropdown-menu(role='listbox' style='position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;')
                      .aa-dataset-1
                  a#all_search_results.ais-SearchBox-submit(href='#')
                    svg(xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewbox='0 0 40 40')
                      path(d='M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z')
    .header_nav_menus
      .container
        ul
          li.multi-level-menu
            | Resources
            .multi-level-menu-content
              a(href='#') Blogs
              a(href='#') eBooks &amp; Guides
              a(href='#') Tutorial Videos
              a(href='#') Podcast
          li
            a(href='#') Integrations
          li
            a(href='#') Releases
          li
            a(href='#') Feedback
          li
            a(href='#') RSS Feed
