// Default media queries, please refer to _variable.scss
@mixin mq($breakpoint) {

  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {

    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Custom media query
// This should be used ONLY on specific elements that the styling is difficult to adjust.
@mixin cq($query) {
  @media only screen and (max-width: $query) {
    @content;
  }
}

@mixin cqmin($query) {
  @media only screen and (min-width: $query) {
    @content;
  }
}
