/*--------------------------------
Project
--------------------------------*/



/*--------------------------------
  Component
--------------------------------*/



/*--------------------------------
  Utility
--------------------------------*/

ul.jqtree-tree {
  list-style: none outside;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

ul.jqtree-tree.jqtree-dnd {
  touch-action: none;
}

ul.jqtree-tree ul.jqtree_common {
  display: block;
  list-style: none outside;
  margin-bottom: 0;
  margin-left: 12px;
  margin-right: 0;
  padding: 0;
}

ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}

ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
  border-bottom: none;
  color: #333;
  text-decoration: none;
  vertical-align: middle;
}

ul.jqtree-tree .jqtree-toggler:hover {
  color: #000;
  text-decoration: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
  margin-right: 0.5em;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
  margin-left: 0.5em;
}

ul.jqtree-tree .jqtree-element {
  cursor: pointer;
  display: flex;
  position: relative;
}

ul.jqtree-tree .jqtree-title {
  color: #1c4257;
  vertical-align: middle;
}

ul.jqtree-tree .jqtree-title-button-left {
  margin-left: 1.5em;
}

ul.jqtree-tree .jqtree-title-button-left.jqtree-title-folder {
  margin-left: 0;
}

ul.jqtree-tree li.jqtree-folder {
  margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
  margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-ghost {
  margin-right: 10px;
  position: relative;
  z-index: 10;
}

ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  border: solid 2px #0000ff;
  border-radius: 100px;
  box-sizing: border-box;
  height: 8px;
  left: -6px;
  position: absolute;
  top: -4px;
  width: 8px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #0000ff;
  height: 2px;
  left: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
  border: solid 2px #0000ff;
  border-radius: 6px;
  box-sizing: content-box;
  display: block;
  left: -2px;
  margin: 0;
  position: absolute;
  top: 0;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: linear-gradient(#bee0f5, #89afca);
  background-color: #97bdd6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px #0000ff;
}

ul.jqtree-tree.jqtree-rtl {
  direction: rtl;
}

ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
  margin-left: 0;
  margin-right: 12px;
}

ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
  margin-left: 0.5em;
  margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title {
  margin-left: 0;
  margin-right: 1.5em;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
  margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
  margin-left: 10px;
  margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
  right: -6px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
  right: 2px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
  margin-left: 0;
  margin-right: 48px;
}

ul.jqtree-tree.jqtree-rtl span.jqtree-border {
  right: -2px;
}

span.jqtree-dragging {
  background: #000;
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
  padding: 2px 8px;
}