.docs-main {
  
  margin: 0 auto;
  max-width: 1600px;
  width: 1600px;

  @include mq('xl') {
    max-width: calc(100% - 10vw);
    width: calc(100% - 10vw);
  }

  @include mq('xxl') {
    margin: 0 auto;
    max-width: 1600px;
    width: 1600px;
  }

  &-content {
    display: flex;
    margin: 0 -1.5rem;
  }

  .content_block {
    padding: 0 1.5px 1.5rem 1.5rem;
    position: relative;
    width: 75%;

    .left-sidebar-toggle {
      color: #666666;
      cursor: pointer;
      font-size: .95rem;
      height: 24px;
      line-height: 22px;
      margin-left: -3rem;
      position: fixed;
      text-align: left;
      top: 150px;
      z-index: 12;
    }

    .left-arrow {
      background: #fafafa;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      display: block;
      height: 24px;
      padding: 0 9px 0 7.5px;
      transition: padding .2s;
    }

    .right-arrow {
      background: #fafafa;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      display: none;
      height: 24px;
      padding: 0 7.5px 0 9px;
      transition: padding .2s;
    }

    .content_container {
      display: flex;
      margin: auto -1.5px -1.5rem -1.5rem;
    }
  }
}

/*card start*/
.main {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: center;
  line-height: 1.5;
  margin: auto;
  margin-top: 110px;
  max-width: 1450px;
  width: calc(100% - 60px);
}

.card {
  border: 1px solid #f4f0eb;
  border-radius: 0px 20px 20px 20px;
  color: #000;
  flex: 0 0 32%;
  margin-right: 20px;
  text-decoration: none;

}

.card .readlink {
  font-weight: 600;
}

.card:hover {
  color: #000;
}

.readlink i {
  margin-left: 5px;
  transition: 0.3s all ease-in-out;
  vertical-align: middle;
}

.card:hover .readlink i {
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}

.card:last-child {
  margin: 0;
}

.cardimg {
  max-width: 100%;
}

.cardhead {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.img-cont {
  align-items: center;
  background-color: #F4F0EB;
  border-radius: 0px 20px 0px 0px;
  display: flex;
  height: 280px;
  justify-content: center;
}

.cardsub {
  padding: 30px 30px 40px;
}

.vdomain {
  border-radius: 0 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 1300px;
  width: calc(100% - 160px);

}

.leftvdo {
  background-color: #F4F0EB;
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
}

.leftvdo h3 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 15px;
}

.btnvdo {
  background-color: #101010;
  border: 2px solid #101010;
  border-radius: 0px 25px 25px 25px;
  color: white;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  text-decoration: none;
  width: 140px;
}

.btnvdo:hover {
  background-color: #8005D8;
  border: 2px solid #8005D8;
  color: white;
}

.rightvdo {
  background: #fff;
  flex: 0 0 55%;
  overflow: hidden;
  padding: 40px 60px;
  width: 50%;
}

.rightvdo iframe {
  border: 0;
  border-radius: 25px;
  height: 300px;
  width: 100%;
}

.rightvdo button.slick-arrow {
  background: transparent;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  height: 30px;
  left: -40px;
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
}

.rightvdo button.slick-arrow::after {
  align-items: center;
  color: #8005d8;
  content: "\f0a8";
  display: flex;
  font-family: "Font Awesome 5 Pro";
  font-size: 22px;
  height: 30px;
  justify-content: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.rightvdo button.slick-next::after {
  align-items: center;
  color: #8005d8;
  content: "\f35a";
  display: flex;
  font-family: "Font Awesome 5 Pro";
  font-size: 22px;
  height: 30px;
  justify-content: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.rightvdo button.slick-next {
  right: -50px;
}

.rightvdo .videoplay .slick-next {
  left: auto;
  right: -50px;
}

.rightvdo .videoplay {
  margin: 0;
  padding: 0;
}

.rightvdo .videoplay.slick-slider {
  display: none;
}

.rightvdo .videoplay.slick-slider.slick-initialized {
  display: block;
}

.vdoimg {
  padding-top: 30px;
}

.mainsupport {
  align-items: center;
  background-color: #FDDE74;
  border-radius: 0px 25px 25px 25px;
  display: flex;
  font-family: 'Nunito';
  justify-content: space-between;
  padding: 80px 70px 70px;
  width: calc(100% - 160px);

}

.caption {
  font-size: 34px;
  font-weight: 900;
}

.sub {
  font-size: 16px;
}

.pill {
  background-color: #101010;
  border: 5px solid #101010;
  border-radius: 0px 25px 25px 25px;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  text-decoration: none;
}

.pill:hover {
  background-color: #8005D8;
  border: 5px solid #8005D8;
  color: #fff;
  transition: all 0.5s ease;
}

.righthead {
  display: block;
}

.footlist ul li {
  list-style-type: none;
}


.footlist {
  display: flex;
  font-family: 'Nunito';
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
}

.footlogo {
  margin-bottom: 30px;
  width: 110px;
}

.footcol .social-links a {
  align-items: center;
  background-color: black;
  border-radius: 0px 100px 100px 100px;
  color: #fff;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 35px;
}

.footcol .social-links a:hover {
  text-decoration: none;
}

.social-links a:hover {

  background-color: #FDDE74;
  color: #F4F0EB;
  transition: all 0.5s ease;
}

.social-links a i {
  font-size: 15px;
  line-height: 1;
}

.listhead {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 30px;
  position: relative;
}

.footcol {
  line-height: 1.5;
  margin-left: 50px;
}

.footcol ul li {
  margin-bottom: 8px;

}

.footcol.footcol-1 {
  width: 12%;
}

.footcol.footcol-2 {
  width: 20%;
}

.footcol.social,
.footcol.footcol-3 {
  width: 25%;
}


.footmail {
  color: #8005D8;
}

.footid {
  color: #000;
}

.social a {
  color: #8005D8;
  text-decoration: none;
}

.social a:hover {
  text-decoration: underline;
}

.footlist .footcol ul li a {
  color: #000;
  text-decoration: none;
}

.footlist .footcol ul li a:hover {
  color: #8005D8;
  text-decoration: underline;
}

.footcol li:hover {
  color: #8005D8;
  text-decoration: underline;
}

.footcol ul {
  margin: 0;
  padding: 0;
}



.footcopy {
  display: flex;
  font-weight: bold;
}

.copylist li {
  padding-right: 30px;
}

.copylist {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.footer-main.main {
  font-size: 16px;
  justify-content: space-between;
  margin-top: 0;
}

.copylist a {
  color: #000;
  text-decoration: none;
}

.copylist a:hover {
  color: #8005D8;
  text-decoration: underline;
}






@media(max-width: 1220px) {
  .rightvdo iframe {
    height: 225px;
  }

  .mainsupport {
    padding: 50px 40px 40px;
    width: 100%;
  }

  .footcol {
    margin-left: 22px;
  }
}

@media(max-width: 1199px) {


  .landing_top {
    align-items: flex-start;
    height: 400px;
  }

  .main {
    margin-top: 80px;
  }

  .cardsub {
    padding: 20px 20px 30px;
  }

  .img-cont {
    align-items: unset;
    height: 200px;
    padding: 20px;
  }

  .card {
    flex: 0 0 31%;
  }
}

@media(max-width: 991px) {
  .landing_top_inner.center h1 {
    font-size: 22px;
  }

  .card {
    flex: 0 0 47%;
    margin-bottom: 30px;
  }

  .footlist {
    flex-wrap: wrap;
  }

  .footcol {
    flex: 0 0 100%;
    margin: 0 0 25px;
  }

  .listhead {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .cardhead {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .vdomain {
    flex-wrap: wrap;
  }

  .leftvdo,
  .rightvdo {
    flex: 0 0 100%;
  }

  .rightvdo {
    padding: 40px 60px 20px;
  }

  .mainsupport {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 30px 30px;
  }

  .leftvdo h3 {
    font-size: 20px;
  }

  .caption {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .sub {
    margin-bottom: 20px;
  }

  .pill {
    margin-left: 0;
    margin-right: 20px;
  }

  .landing_top .search-sec {
    max-width: 600px;
    width: 100% !important;
  }
}

@media(max-width: 500px) {
  .landing_top_inner.center h1 {
    font-size: 18px;
  }

  .main {
    font-size: 14px !important;
    margin-top: 40px;
  }

  .landing_top .promo-text {
    font-size: 14px;
  }

  .landing_top a.header-link,
  .pill {
    font-size: 12px;
  }

  .landing_top .search-sec input[type=search] {
    height: 40px;
    padding: 0 50px 0 20px;

  }

  .landing_top .search-sec .ais-SearchBox-submit {
    height: 42px;
    width: 45px;
  }

  .card {
    flex: 0 0 100%;
    margin: 0 0 30px;

  }

  .cardhead {
    font-size: 14px;
  }

  .vdomain {
    flex: 0 0 100%;

  }

  .rightvdo {
    padding: 15px 10px 25px;

  }

  .rightvdo button.slick-arrow {
    bottom: -10px;
    left: calc(100% - 70px);
    top: auto;
  }

  .rightvdo button.slick-arrow.slick-next {
    left: auto;
    right: 10px;
  }

  .mainsupport .pill {
    margin-bottom: 12px;
  }

  .c-right {
    margin-top: 10px;
  }
}


#smartBarContainer1 .info-bar .info-bar-in .info-bar-cont {
  text-align: center;
  width: 100%;
}