// footer
.l-footer {
  background: #394829;
  height: 50px;
  width: 100%;

  p {
    color: #F9FAF7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 50px;
    text-align: center;
  }
} 