@import '../helper/mixin';

header {
  background-color: #ffffff;
  position: relative;
  width: 100%;

  .p-nav-top {
    padding: 10px 0;

    &-container {

      &_logo {
        flex: 0 0 280px;
        height: 40px;
        line-height: 40px;
        margin: 0 10px 0 0;
        text-decoration: none;

        img {
          max-height: 40px;
          max-width: 270px;
          vertical-align: middle;
        }
      }

      &_link {
        display: flex;
        flex: 1;
        justify-content: space-between;
        width: 100%;
      }
    }

    .p-nav-links {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;

      ul {
        display: inline-block;

        li {
          display: inline-block;
          padding: 0 10px;
          vertical-align: middle;

          a {
            color: #212121;
            display: block;
            text-decoration: none;
          }
        }
      }
    }

    .p-nav-options {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      justify-content: flex-end;

      .option-icon {
        color: #8f8f8f;
        display: inline-block;
        font-size: 1rem;
        margin: 0 0 0 20px;
        padding: 0;
        position: relative;
      }

      .option-dropdown {
        display: inline-block;
        margin: 0 0 0 12px;
        position: relative;

        button {
          align-items: center;
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          color: #19191a;
          cursor: pointer;
          display: flex;
          margin: 0;
          max-width: 230px;
          padding: 2px 8px 2px 10px;
          position: relative;
        }

        li a {
          align-items: center;
          border-radius: 0;
          color: #19191a;
          display: flex;
          margin: 0;
          padding: .25rem 1rem;

          &:hover {
            background: #863bb5;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }

  .p-nav-search {
    background: #863bb5;
    min-height: 55px;
    padding: 0;
    position: relative;

    &-container {
      align-items: center;
      display: flex;

      @include mq('xl') {
        max-width: calc(100% - 10vw);
        width: calc(100% - 10vw);
      }
      
      @include mq('xxl') {
        margin: 0 auto;
        max-width: 1600px;
        width: 1600px;
      }
    }
  }
}