.left_sidebar
  .left-sidebar-header
    | Contents 
    span x
  .left_sidebar_main
    #doc_left_sidebar.left_sidebar_nav
      .filter_form
        .filterform
          input#category_filter(type='search' name='filter' placeholder='Filter')
          a.filter_close_btn(href='#')
        #no-result-found.filter_no_result No matching results found
      #left_sidebar_nav_menu.left_sidebar_nav_menu.mCustomScrollbar._mCS_1
        #mCSB_1.mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_outside
          #mCSB_1_container.mCSB_container
            #tree1.tree-section
            ul#categories.leftsidebarnav(style='display: block;')
              li(style='display: block;')
                a(href="/")
                  | &#x23F1;&#xFE0F;      
                  span.article-title Getting Started
                ul(style='display: block;')
                  li
                    a(href="subcat.html")
                      span.article-title Why did we build Document360?
                  li
                    a(href="#")
                      span.article-title Document360 - Getting started
                  li
                    a(href="#")
                      span.article-title Creating a Document360 account
                  li
                    a(href="#")
                      span.article-title Creating a project
                  li
                    a(href="#")
                      span.article-title Navigating your project
                  li
                    a(href="#")
                      span.article-title Editing your profile
                  li
                    a(href="#")
                      span.article-title System and browser requirements
              li
                a(href="#")
                  | &#x1F4CB;
                  span.article-title Documentation Editor
                ul
                  li
                    a(href="#")
                      | &#x1F4DC;
                      span.article-title Articles
                    ul
                      li
                        a(href="#")
                          span.article-title Writing Articles
                        ul
                          li
                            a(href="#")
                              span.article-title Text Editor overview
                          li
                            a(href="#")
                              span.article-title The Markdown editor
                          li
                            a(href="#")
                              span.article-title Markdown basics
                          li
                            a(href="#")
                              span.article-title The WYSIWYG editor
                          li
                            a(href="#")
                              span.article-title Adding images in article
                              span.Updated-batch        Updated           
                          li
                            a(href="#")
                              span.article-title Adding files to article
                          li
                            a(href="#")
                              span.article-title Linking to other articles
                          li
                            a(href="#")
                              span.article-title Code blocks
                          li
                            a(href="#")
                              span.article-title Private Notes
                          li
                            a(href="#")
                              span.article-title Embedding Google forms in article
                          li
                            a(href="#")
                              span.article-title Embedding a draw.io diagram
                          li
                            a(href="#")
                              span.article-title Discussion feed
                      li
                        a(href="#")
                          span.article-title Article Actions
                        ul
                          li
                            a(href="#")
                              span.article-title Creating an article 
                          li
                            a(href="#")
                              span.article-title Editing an article
                          li
                            a(href="#")
                              span.article-title Publishing an article
                          li
                            a(href="#")
                              span.article-title Hiding an article
                          li
                            a(href="#")
                              span.article-title Deleting an article
                          li
                            a(href="#")
                              span.article-title Updating multiple articles using Bulk operation
                      li
                        a(href="#")
                          span.article-title Article templates
                      li
                        a(href="#")
                          span.article-title All content - Bulk operations
                      li
                        a(href="#")
                          span.article-title Using article versions
                      li
                        a(href="#")
                          span.article-title Best practices in authoring and publishing an article using Document360
                      li
                        a(href="#")
                          span.article-title Article access control - Knowledge base portal
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Article access control - Knowledge base site
                          span.New-batch      New             
                  li
                    a(href="#")
                      | &#x1F4D1;
                      span.article-title Article Administration
                    ul
                      li
                        a(href="#")
                          span.article-title Excluding articles from searches
                      li
                        a(href="#")
                          span.article-title Changing an article URL
                      li
                        a(href="#")
                          span.article-title Redirecting an article URL
                      li
                        a(href="#")
                          span.article-title Public article comments
                      li
                        a(href="#")
                          span.article-title Updating article contributors
                      li
                        a(href="#")
                          span.article-title Article status indicator
                      li
                        a(href="#")
                          span.article-title Recycle bin for articles and categories
                      li
                        a(href="#")
                          span.article-title Marking articles as deprecated
                      li
                        a(href="#")
                          span.article-title Adding a table of contents to an article
                      li
                        a(href="#")
                          span.article-title Review reminder
                      li
                        a(href="#")
                          | &#x2328;&#xFE0F;
                          span.article-title Article SEO and Metadata
                        ul
                          li
                            a(href="#")
                              span.article-title Article SEO
                          li
                            a(href="#")
                              span.article-title Article tags 
                  li
                    a(href="#")
                      | &#x1F4C2;
                      span.article-title Category Manager
                    ul
                      li
                        a(href="#")
                          span.article-title Categories and subcategories
                      li
                        a(href="#")
                          span.article-title Category types
                      li
                        a(href="#")
                          span.article-title Category access control - Knowledge base portal
                          span.Updated-batch        Updated           
              li
                a(href="#")
                  | &#x1F5FA;&#xFE0F;
                  span.article-title Home Page Builder
                ul
                  li
                    a(href="#")
                      span.article-title Home Page Builder - Getting started
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title Home page header
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      | &#x1F39B;&#xFE0F;
                      span.article-title Body blocks
                      span.Updated-batch          Updated      
                    ul
                      li
                        a(href="#")
                          span.article-title Text block
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Text columns block
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title HTML  block
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Image and text block
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Knowledge base categories block
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Widgets block
                          span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title Custom CSS and JavaScript 
              li
                a(href="#")
                  | &#x1F3A8;
                  span.article-title Knowledge Base Design 
                ul
                  li
                    a(href="#")
                      span.article-title Design - Global  settings
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title Navigation bar
                  li
                    a(href="#")
                      span.article-title Footer navigation
                  li
                    a(href="#")
                      span.article-title Custom footer
                  li
                    a(href="#")
                      span.article-title Smart bar
                  li
                    a(href="#")
                      span.article-title Cookie consent
                  li
                    a(href="#")
                      | &#x1F30E;
                      span.article-title Public Articles
                    ul
                      li
                        a(href="#")
                          span.article-title Customizing details shown on a public  article
                      li
                        a(href="#")
                          span.article-title Article header
                      li
                        a(href="#")
                          span.article-title Right sidebar
                      li
                        a(href="#")
                          span.article-title Article bottom 
                      li
                        a(href="#")
                          span.article-title Knowledge base category manager
                      li
                        a(href="#")
                          span.article-title Document header
                      li
                        a(href="#")
                          span.article-title Adding related articles
                  li
                    a(href="#")
                      | &#x1F68B;
                      span.article-title Navigation
                    ul
                      li
                        a(href="#")
                          span.article-title Menu
                      li
                        a(href="#")
                          span.article-title RSS feeds
                  li
                    a(href="#")
                      span.article-title Single page application (SPA)
              li
                a(href="#")
                  | &#x1F5E3;&#xFE0F;
                  span.article-title Knowledge Base Assistant
                ul
                  li
                    a(href="#")
                      span.article-title Knowledge Base Assistant - Getting started
                  li
                    a(href="#")
                      span.article-title Installing the Knowledge Base Assistant
                  li
                    a(href="#")
                      span.article-title Styling the Knowledge Base Assistant
                  li
                    a(href="#")
                      span.article-title Changing the default launcher icon
                  li
                    a(href="#")
                      span.article-title Domain restriction
                  li
                    a(href="#")
                      span.article-title Adding custom links
                  li
                    a(href="#")
                      span.article-title URL mapping
              li
                a(href="#")
                  | &#x1F4F8;
                  span.article-title Images, videos, and files
                  span.Updated-batch          Updated      
                ul
                  li
                    a(href="#")
                      span.article-title Drive - Getting started
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title Adding folders and files
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title File actions in Drive
                      span.Updated-batch        Updated           
                  li
                    a(href="#")
                      span.article-title Folder actions in Drive
                  li
                    a(href="#")
                      span.article-title Searching files with filters
                  li
                    a(href="#")
                      span.article-title Recycle bin, Recent, and Starred files
                  li
                    a(href="#")
                      span.article-title All content overview
                  li
                    a(href="#")
                      span.article-title Editor folder
                  li
                    a(href="#")
                      span.article-title File dependency viewer
                  li
                    a(href="#")
                      span.article-title File replace
                  li
                    a(href="#")
                      span.article-title Accessing Drive from document editor
              li
                a(href="#")
                  | &#x1F6E0;&#xFE0F;
                  span.article-title Project Administration
                ul
                  li
                    a(href="#")
                      | &#x1F465;
                      span.article-title Team Management
                    ul
                      li
                        a(href="#")
                          span.article-title Account  types
                      li
                        a(href="#")
                          span.article-title Team auditing 
                  li
                    a(href="#")
                      | &#x1F310;
                      span.article-title Localization &amp; Versions
                    ul
                      li
                        a(href="#")
                          span.article-title Localization
                        ul
                          li
                            a(href="#")
                              span.article-title Localization - Getting started
                          li
                            a(href="#")
                              span.article-title Setting up a Multi-lingual knowledge base
                          li
                            a(href="#")
                              span.article-title Article translation status indicator
                          li
                            a(href="#")
                              span.article-title Machine translation
                          li
                            a(href="#")
                              span.article-title Translation option with bulk operations
                          li
                            a(href="#")
                              span.article-title Localization variables
                      li
                        a(href="#")
                          span.article-title Versions
                        ul
                          li
                            a(href="#")
                              span.article-title Adding a new project version
                  li
                    a(href="#")
                      | &#x1F4AC;
                      span.article-title Notifications
                    ul
                      li
                        a(href="#")
                          span.article-title Notification channels
                      li
                        a(href="#")
                          span.article-title Notification mapping
                      li
                        a(href="#")
                          span.article-title Notification history
                      li
                        a(href="#")
                          span.article-title Send notifications from custom email domain
                  li
                    a(href="#")
                      | &#x1F3F7;&#xFE0F;
                      span.article-title Tag manager
                    ul
                      li
                        a(href="#")
                          span.article-title Tag manager overview
                      li
                        a(href="#")
                          span.article-title Adding a new tag
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Tag dependency viewer
                  li
                    a(href="#")
                      | &#x1F5FA;&#xFE0F;
                      span.article-title Custom domain
                    ul
                      li
                        a(href="#")
                          span.article-title Custom domain mapping
                  li
                    a(href="#")
                      | &larrhk;&#xFE0F;
                      span.article-title Ticket deflectors
                    ul
                      li
                        a(href="#")
                          span.article-title Accessing the ticket deflectors in portal
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Adding a new ticket deflector
                          span.Updated-batch        Updated           
                  li
                    a(href="#")
                      | &#x1F50E;
                      span.article-title Search
                    ul
                      li
                        a(href="#")
                          span.article-title Search
                      li
                        a(href="#")
                          | &#x1F575;&#xFE0F;
                          span.article-title Full portal search
                        ul
                          li
                            a(href="#")
                              span.article-title Full portal search
                  li
                    a(href="#")
                      span.article-title Backup and restore
                  li
                    a(href="#")
                      span.article-title Project  versions
                  li
                    a(href="#")
                      span.article-title IP Restriction 
                  li
                    a(href="#")
                      span.article-title Hosting Document360 on a sub-directory
              li
                a(href="#")
                  | &cudarrr;&#xFE0F;
                  span.article-title Import
                ul
                  li
                    a(href="#")
                      | &#x1F4F0;
                      span.article-title Project import 
                    ul
                      li
                        a(href="#")
                          span.article-title Import a documentation project
                      li
                        a(href="#")
                          span.article-title Migrating documentation from another knowledge base platform
                  li
                    a(href="#")
                      | &#x1F4C4;
                      span.article-title Article import
                    ul
                      li
                        a(href="#")
                          span.article-title Word .docx files
              li
                a(href="#")
                  | &#x2934;&#xFE0F;
                  span.article-title Export
                ul
                  li
                    a(href="#")
                      | &#x1F4D1;
                      span.article-title Export to PDF
                    ul
                      li
                        a(href="#")
                          span.article-title PDF content templates
                      li
                        a(href="#")
                          span.article-title PDF design templates
                  li
                    a(href="#")
                      span.article-title Export documentation as ZIP
              li
                a(href="#")
                  | &#x1F4DA;
                  span.article-title Content tools
                ul
                  li
                    a(href="#")
                      | &#x267B;&#xFE0F;
                      span.article-title Content Reuse
                    ul
                      li
                        a(href="#")
                          span.article-title Variables
                      li
                        a(href="#")
                          span.article-title Snippets
                  li
                    a(href="#")
                      | &#x23EC;
                      span.article-title Workflow
                    ul
                      li
                        a(href="#")
                          span.article-title Workflow designer
                      li
                        a(href="#")
                          span.article-title Workflow assignment
                          span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Managing Workflow status
              li
                a(href="#")
                  | &#x1F517;
                  span.article-title Integrations
                ul
                  li
                    a(href="#")
                      span.article-title Integrations - Getting started
                  li
                    a(href="#")
                      span.article-title Creating Document360 API Tokens
                  li
                    a(href="#")
                      span.article-title Google Analytics
                  li
                    a(href="#")
                      span.article-title Olark
                  li
                    a(href="#")
                      span.article-title Segment
                  li
                    a(href="#")
                      span.article-title Disqus
                  li
                    a(href="#")
                      span.article-title Custom HTML
              li
                a(href="#")
                  | &#x1F4E1;
                  span.article-title Extensions
                ul
                  li
                    a(href="#")
                      | &#x1F50E;
                      span.article-title General
                    ul
                      li
                        a(href="#")
                          span.article-title Zapier
                        ul
                          li
                            a(href="#")
                              span.article-title Zapier - Setup guide
                          li
                            a(href="#")
                              span.article-title Use cases for Zap templates
                            ul
                              li
                                a(href="#")
                                  span.article-title Google Docs + Document360
                              li
                                a(href="#")
                                  span.article-title Google Drive + Document360
                              li
                                a(href="#")
                                  span.article-title  Google Sheets + Document360 
                              li
                                a(href="#")
                                  span.article-title  Trello + Document360 
                              li
                                a(href="#")
                                  span.article-title GitHub + Document360
                              li
                                a(href="#")
                                  span.article-title Jira Service Desk + Document360
                              li
                                a(href="#")
                                  span.article-title Confluence Server + Document360
                              li
                                a(href="#")
                                  span.article-title Zoho CRM + Document360
                              li
                                a(href="#")
                                  span.article-title Pipedrive + Document360
                              li
                                a(href="#")
                                  span.article-title Hubspot  + Document360
                              li
                                a(href="#")
                                  span.article-title Asana + Document360
                              li
                                a(href="#")
                                  span.article-title Monday.com + Document360
                              li
                                a(href="#")
                                  span.article-title Typeform + Document360
                              li
                                a(href="#")
                                  span.article-title Document360 + Gmail
                              li
                                a(href="#")
                                  span.article-title Document360 + Mailchimp
                  li
                    a(href="#")
                      | &#x1F4DE;
                      span.article-title Customer support
                    ul
                      li
                        a(href="#")
                          span.article-title Freshdesk
                      li
                        a(href="#")
                          span.article-title Zendesk
                      li
                        a(href="#")
                          span.article-title Intercom
                      li
                        a(href="#")
                          span.article-title Drift
                      li
                        a(href="#")
                          span.article-title Salesforce
                        ul
                          li
                            a(href="#")
                              span.article-title Salesforce
                          li
                            a(href="#")
                              span.article-title Use cases
                            ul
                              li
                                a(href="#")
                                  span.article-title Cases page
                                  span.Updated-batch        Updated           
                              li
                                a(href="#")
                                  span.article-title Leads page
                                  span.Updated-batch        Updated           
                  li
                    a(href="#")
                      | &#x1F465;
                      span.article-title Team collaboration
                    ul
                      li
                        a(href="#")
                          span.article-title Microsoft Teams
                      li
                        a(href="#")
                          span.article-title Slack
                  li
                    a(href="#")
                      | &#x1F521;
                      span.article-title Translation
                    ul
                      li
                        a(href="#")
                          span.article-title Crowdin
                  li
                    a(href="#")
                      | &#x1F4BB;
                      span.article-title Browser extension
                    ul
                      li
                        a(href="#")
                          span.article-title Chrome extension
              li
                a(href="#")
                  | &#x1F4CA;
                  span.article-title Analytics
                ul
                  li
                    a(href="#")
                      span.article-title Geography
                  li
                    a(href="#")
                      span.article-title Performance
                  li
                    a(href="#")
                      span.article-title Search
                  li
                    a(href="#")
                      span.article-title Team accounts
                  li
                    a(href="#")
                      span.article-title Feedback
                  li
                    a(href="#")
                      span.article-title Links status (Beta)
                  li
                    a(href="#")
                      span.article-title Page not found
              li
                a(href="#")
                  | &#x1F575;&#xFE0F;
                  span.article-title Users &amp; Security
                ul
                  li
                    a(href="#")
                      | &#x1F5C4;&#xFE0F;
                      span.article-title Knowledge base portal
                    ul
                      li
                        a(href="#")
                          span.article-title Team accounts &amp; groups
                          span.Updated-batch          Updated      
                        ul
                          li
                            a(href="#")
                              span.article-title Team account overview page
                              span.Updated-batch        Updated           
                          li
                            a(href="#")
                              span.article-title Managing team account
                              span.Updated-batch        Updated           
                          li
                            a(href="#")
                              span.article-title Team account groups overview page
                              span.Updated-batch        Updated           
                          li
                            a(href="#")
                              span.article-title Managing team account groups
                              span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title Roles
                        ul
                          li
                            a(href="#")
                              span.article-title Portal role
                          li
                            a(href="#")
                              span.article-title Content role
                      li
                        a(href="#")
                          span.article-title Content role &amp; access 
                          span.Updated-batch        Updated           
                  li
                    a(href="#")
                      | &#x1F4F0;
                      span.article-title Knowledge base site
                    ul
                      li
                        a(href="#")
                          span.article-title Readers &amp; Groups
                        ul
                          li
                            a(href="#")
                              span.article-title Readers overview page
                              span.Updated-batch        Updated           
                          li
                            a(href="#")
                              span.article-title Managing readers
                          li
                            a(href="#")
                              span.article-title Reader groups overview page
                          li
                            a(href="#")
                              span.article-title Managing reader groups
                          li
                            a(href="#")
                              span.article-title Readers self registration
                      li
                        a(href="#")
                          span.article-title Site access
                        ul
                          li
                            a(href="#")
                              span.article-title Public knowledge base
                          li
                            a(href="#")
                              span.article-title Private knowledge base
                          li
                            a(href="#")
                              span.article-title Mixed access knowledge base
                              span.Updated-batch        Updated           
                      li
                        a(href="#")
                          span.article-title IP restriction
                  li
                    a(href="#")
                      | &#x1F511;
                      span.article-title Enterprise SSO
                    ul
                      li
                        a(href="#")
                          span.article-title SSO - Getting started
                      li
                        a(href="#")
                          span.article-title Enabling Enterprise SSO
                      li
                        a(href="#")
                          span.article-title Inviting or Adding SSO users
                      li
                        a(href="#")
                          span.article-title Mapping an existing SSO configuration to other projects
                      li
                        a(href="#")
                          span.article-title Bypass Document360 common login page
                      li
                        a(href="#")
                          span.article-title SAML 2.0
                        ul
                          li
                            a(href="#")
                              span.article-title Enabling SAML SSO
                          li
                            a(href="#")
                              span.article-title Okta configuration as IdP for SAML
                          li
                            a(href="#")
                              span.article-title Okta to Document360 SAML SSO configuration 
                          li
                            a(href="#")
                              span.article-title SAML SSO with Azure AD
                          li
                            a(href="#")
                              span.article-title Google SSO SAML configuration
                          li
                            a(href="#")
                              span.article-title Removing a configured SAML SSO
                      li
                        a(href="#")
                          span.article-title OpenID Connect
                        ul
                          li
                            a(href="#")
                              span.article-title Enabling OpenID SSO
                          li
                            a(href="#")
                              span.article-title Okta configuration as IdP for OpenID
                          li
                            a(href="#")
                              span.article-title Okta to Document360 OpenID configuration
                          li
                            a(href="#")
                              span.article-title Auth0 with OpenID SSO
                          li
                            a(href="#")
                              span.article-title Removing a configured OpenID SSO
                      li
                        a(href="#")
                          span.article-title JWT
                        ul
                          li
                            a(href="#")
                              span.article-title Configuring the JWT SSO
                          li
                            a(href="#")
                              span.article-title JWT reader group(s)
                  li
                    a(href="#")
                      span.article-title Our security and infrastructure
              li
                a(href="#")
                  | &#x1F4B3;
                  span.article-title Billing
                ul
                  li
                    a(href="#")
                      span.article-title Upgrade/Downgrade your subscription plan
              li
                a(href="#")
                  | &#x1F4CB;
                  span.article-title Release Notes
                ul
                  li
                    a(href="#")
                      span.article-title 2021
                    ul
                      li
                        a(href="#")
                          span.article-title December
                      li
                        a(href="#")
                          span.article-title November
                      li
                        a(href="#")
                          span.article-title October
                      li
                        a(href="#")
                          span.article-title September
                      li
                        a(href="#")
                          span.article-title August
                      li
                        a(href="#")
                          span.article-title July
                      li
                        a(href="#")
                          span.article-title June
                      li
                        a(href="#")
                          span.article-title May
                      li
                        a(href="#")
                          span.article-title April
                      li
                        a(href="#")
                          span.article-title March
                      li
                        a(href="#")
                          span.article-title February
                      li
                        a(href="#")
                          span.article-title January
                  li
                    a(href="#")
                      span.article-title 2020
                    ul
                      li
                        a(href="#")
                          span.article-title November
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title October
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title August
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title June
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title May
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title April
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title March
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title February
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title January
                          span.Deprecated-batch           Deprecated           
                  li
                    a(href="#")
                      span.article-title 2019
                    ul
                      li
                        a(href="#")
                          span.article-title December
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title November
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title October
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title September
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title August
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title July
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title June
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title May
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title April
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title March
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title February
                          span.Deprecated-batch           Deprecated           
                      li
                        a(href="#")
                          span.article-title January
                          span.Deprecated-batch           Deprecated           
              li
                a(href="#")
                  | &#x1F50C;
                  span.article-title API - Swagger Docs
                ul
                  li
                    a(href="#")
                      span.article-title How to use Swagger
        #mCSB_1_scrollbar_vertical.mCSB_scrollTools.mCSB_1_scrollbar.mCS-light.mCSB_scrollTools_vertical(style='display: block;')
          .mCSB_draggerContainer
            #mCSB_1_dragger_vertical.mCSB_dragger(style='position: absolute; min-height: 30px; height: 109px; top: 0px; display: block; max-height: 270px;')
              .mCSB_dragger_bar(style='line-height: 30px;')
            .mCSB_draggerRail
      .watermark_logo(style='display:block!important;')
        a(href='https://document360.io/powered-by-document360/?utm_source=docs&utm_medium=footer&utm_campaign=poweredbylogo' target='_blank' style='display:block!important;')
          span Powered by
          img(style='display:inline!important;' src='https://cdn.document360.io/static/images/docuent360_logo_black.png' alt='Document360')