extend /_inc/_layout
append variables

//- content below
block content
  #doc_main_content.main_content_block
  div
    .container.docs-main
      .docs-main-content
        include _sidebar
        #doc_content_block.content_block
          //- .left-sidebar-toggle
          //-   span.left-arrow(title='Hide category' style='display: block;')
          //-     i.fas.fa-caret-left(aria-hidden='true')
          //-   span.right-arrow(title='Show category' style='display: none;')
          //-     i.fas.fa-caret-right(aria-hidden='true')
          #partialViewContainer
            .stickytop
              .sticky-details
                .article-top-head
                  .article-title
                    .article-title-icon &#x23F1;&#xFE0F;
                    | Getting Started
                  .artile_info
                    .title-article-count
                      | 7 Articles 
                      span in this category
                    ul
                      li.contributors-details
                        .contributors-l
                          | Contributors
                        .contributors-r
                          a(href="#")
                            img.contributor(src="")
                          a(href="#")
                            img.contributor(src="")
                          a(href="#")
                            img.contributor(src="")
                          .article-other-count
                            | + 3
                .share-details
                  p
                    | Share this 
                    i.fal.fa-hand-point-right(aria-hidden='true')
                  .share-buttons
                    #shareIconsTop.jssocials
                      .jssocials-shares
                        .jssocials-share.jssocials-share-twitter
                          a.jssocials-share-link(href="#")
                            i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-linkedin
                          a.jssocials-share-link(href="#")
                            i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-facebook
                          a.jssocials-share-link(href="#")
                            i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-email
                          a.jssocials-share-link(href="#")
                            i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
              .progress-container
                #progressBar.progress-bar
                  .progress-shadow
            .content-header
              .container
                .article-action-items
                  ul
                    li
                      .action-item(onclick='window.print();')
                        i.fal.fa-print(aria-hidden='true')
                        span Print
                    li
                      #showShareIconsMobile.action-item
                        i.fal.fa-share-square(aria-hidden='true')
                        span Share
                      #shareIconsContainerMobile.social_share
                        #shareIconsMobile.jssocials
                          .jssocials-shares
                            .jssocials-share.jssocials-share-twitter
                              a.jssocials-share-link(href="#")
                                i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Twitter
                            .jssocials-share.jssocials-share-linkedin
                              a.jssocials-share-link(href="#")
                                i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Linkedin
                            .jssocials-share.jssocials-share-facebook
                              a.jssocials-share-link(href="#")
                                i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Facebook
                            .jssocials-share.jssocials-share-email
                              a.jssocials-share-link(href="#")
                                i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Email
                    li
                      #darkThemeMobile.action-item(style='display: block;')
                        i.fal.fa-moon(aria-hidden='true')
                        span Dark
                      #lightThemeMobile.action-item(style='display: none;')
                        i.fal.fa-sun(aria-hidden='true')
                        span Light
                .left-sidebar-header-show
                  i.fal.fa-list(aria-hidden='true')
                  span Contents
            #doc_content_block
              .content_container
                .content_container_text_sec.no-page-action
                  .content_container_text_sec_in
                    #smartBarContainer3
                    .content_block_head
                      .category-title-content
                        .category-icon
                          | &#x23F1;&#xFE0F;
                        .category-title
                          h1 Getting Started
                      .title-article-count
                        span 7 Articles 
                        |  in this category
                      .article-head-sec
                        .category-contributor-info
                          .contributor-images
                            a.contributor-img(href="#")
                              img.contributor(src="")
                            a.contributor-img(href="#")
                              img.contributor(src="")
                            a.contributor-img(href="#")
                              img.contributor(src="")
                            .other-count
                              | + 3
                          .contributor-names
                            span Written by
                            | Vishnu bala                          
                            span ,
                            | Pradeepa Somasundaram                          
                            span ,
                            | Saravana Kumar                      
                            span   and 3 others
                        .article-action-items
                          ul
                            li
                              #showShareIcons.action-item
                                i.fal.fa-share-square(aria-hidden='true')
                                span Share
                              #shareIconsContainer.social_share
                                #shareIcons.jssocials
                                  .jssocials-shares
                                    .jssocials-share.jssocials-share-twitter
                                      a.jssocials-share-link(href="#")
                                        i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Twitter
                                    .jssocials-share.jssocials-share-linkedin
                                      a.jssocials-share-link(href="#")
                                        i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Linkedin
                                    .jssocials-share.jssocials-share-facebook
                                      a.jssocials-share-link(href="#")
                                        i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Facebook
                                    .jssocials-share.jssocials-share-email
                                      a.jssocials-share-link(href="#")
                                        i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Email
                            li
                              #darkTheme.action-item(style='display: block;')
                                i.fal.fa-moon(aria-hidden='true')
                                span Dark
                              #lightTheme.action-item(style='display: none;')
                                i.fal.fa-sun(aria-hidden='true')
                                span Light
                      hr
                    .content_block_text(dir='auto')
                      .category-index-view
                        .category-index-item
                          .category-index-title
                            h2
                              a(href="#") Why did we build Document360?
                          .index-article-snippet
                            | Hello! This is Saravana Kumar, Founder of Document360.
                            | For three years my company struggled to maintain a good knowledge base.
                            | We were using a knowledge base provided by a customer support tool and were spending most of our time trying to work...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                              .index-article-other-count
                                | + 1
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Vishnu bala                                        
                                span ,
                                | Pradeepa Somasundaram                                        
                                span ,
                                | Saravana Kumar                                
                                span  and 1 others
                              .index-article-date
                                | Updated on : 06 Dec 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href='') Document360 - Getting started
                          .index-article-snippet
                            | Exploring a new product can be overwhelming, so we wanted to give you a basic overview of Document360 to get you started.
                            | Document360 is a Knowledge management platform that allows project members to create and curate a self-service public or priv...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href='')
                                img.index-article-contributor
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                
                                span  
                              .index-article-date
                                | Updated on : 16 May 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href='') Creating a Document360 account
                          .index-article-snippet
                            | To create a Knowledge base with Document360,  you must first create a  Document360 account :
                            | Visit the    Document360 website   and click  sign up  or enter your email in the Get Started field
                            | Free Trial
                            | All trial accounts get 14 days fr...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href='')
                                img.index-article-contributor
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                
                                span  
                              .index-article-date
                                | Updated on : 11 May 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href="#") Creating a project
                          .index-article-snippet
                            | After   creating a Document360 account  , now it&apos;s time to create a project.
                            | A project is a container for your articles, categories and subcategories, site home page, project members, and any custom configurations or settings.
                            | To create a proj...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                
                                span  
                              .index-article-date
                                | Updated on : 19 Nov 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href="#") Navigating your project
                          .index-article-snippet
                            | The first things you see when you click on a project is
                            | 1. The Dashboard navbar
                            | 2. The Category manager
                            | 3. The Document editor
                            | The Dashboard navbar
                            | The  Dashboard navbar  is where you&apos;ll switch between the five main tabs you&apos;ll use m...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                
                                span  
                              .index-article-date
                                | Updated on : 10 Mar 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href="#") Editing your profile
                          .index-article-snippet
                            | Your profile information can be edited/updated from the menu which is accessed by clicking on your profile avatar in the bottom left corner of the project dashboard navbar.
                            | My Profile
                            | When you click on the profile avatar, a right side blade wi...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                
                                span  
                              .index-article-date
                                | Updated on : 16 May 2021
                        .category-index-item
                          .category-index-title
                            h2
                              a(href="#") System and browser requirements
                          .index-article-snippet
                            | Recommended
                            | Here are the system and browser requirements for the Document360 knowledge base portal to work efficiently on your computer device.
                            | Speed and efficiency
                            | You can access the Document360 knowledge base portal...
                          .index-article-contributors
                            .index-article-contributor-images
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                              a.index-article-img(href="#")
                                img.index-article-contributor(src="")
                            .index-article-contributor-names-details
                              .index-article-contributor-names
                                span
                                  | Written by
                                | Kingson S                                        
                                span ,
                                | Manikandan Subramaniam                                        
                                span ,
                                | Selvaraaju Murugesan                                
                                span  
                              .index-article-date
                                | Updated on : 29 Aug 2021