extend /_inc/_layout
append variables

//- content below
block content
  #doc_main_content.main_content_block
  div
    .container.docs-main
      .docs-main-content
        include _sidebar
        #doc_content_block.content_block
          //- .left-sidebar-toggle
          //-   span.left-arrow(title='Hide category' style='display: block;')
          //-     i.fas.fa-caret-left(aria-hidden='true')
          //-   span.right-arrow(title='Show category' style='display: none;')
          //-     i.fas.fa-caret-right(aria-hidden='true')
          #partialViewContainer
            .stickytop
              .sticky-details
                .article-top-head
                  .article-title Why did we build Document360?
                  .artile_info
                    ul
                      li
                        i.fal.fa-calendar-alt(aria-hidden='true')
                        span 06 Dec 2021
                      li
                        i.fal.fa-clock(aria-hidden='true')
                        span
                          | 2
                          | Minutes to read
                      li.contributors-details
                        .contributors-l
                          | Contributors
                        .contributors-r
                          a(href="#")
                            img.contributor(src='https://s.gravatar.com/avatar/a393158fa058334fbfc18454164e6e00?s=120&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fsa.png' title='Saravana Kumar')
                          a(href="#")
                            img.contributor(src='https://cdn.document360.io/users/a00e6200-ee76-42ba-84e0-5bb360fe6d87.jpg?sv=2020-08-04&st=2022-01-28T07%3A08%3A40Z&se=2022-01-28T07%3A09%3A10Z&sr=b&sp=r&sig=j%2BHZ2JdFvkhGyQWZaFXzlKy54%2B6Ovd%2BDUvEHwbUIZog%3D' title='Vishnu bala')
                          a(href="#")
                            img.contributor(src='https://s.gravatar.com/avatar/a31e757dedf761deaed0bc3522616876?s=120&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fpr.png' title='Pradeepa Somasundaram')
                          a(href="#")
                            img.contributor(src='https://cdn.document360.io/users/2b75cebb-91c6-4eb7-8716-aa37ebb78da0.png?sv=2020-08-04&st=2022-01-28T07%3A08%3A40Z&se=2022-01-28T07%3A09%3A10Z&sr=b&sp=r&sig=fGt3VuiNNx%2FyQ7ilRchdl6Q48h6Z9nycdQ3dcQCgRcQ%3D' title='Kingson S')
                .share-details
                  p
                    | Share this 
                    i.fal.fa-hand-point-right(aria-hidden='true')
                  .share-buttons
                    #shareIconsTop.jssocials
                      .jssocials-shares
                        .jssocials-share.jssocials-share-twitter
                          a.jssocials-share-link(href="#" target='_blank')
                            i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-linkedin
                          a.jssocials-share-link(href="#" target='_blank')
                            i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-facebook
                          a.jssocials-share-link(href="#" target='_blank')
                            i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                        .jssocials-share.jssocials-share-email
                          a.jssocials-share-link(href="#" target='_blank')
                            i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
              .progress-container
                #progressBar.progress-bar(style='width: 0%;')
                  .progress-shadow
            .content-header
              .container
                .article-action-items
                  ul
                    li
                      .print_page.action-item(onclick='window.print();')
                        i.fal.fa-print(aria-hidden='true')
                        span Print
                    li
                      #showShareIconsMobile.share_content.action-item
                        i.fal.fa-share-square(aria-hidden='true')
                        span Share
                      #shareIconsContainerMobile.social_share(style='display: none;')
                        #shareIconsMobile.jssocials
                          .jssocials-shares
                            .jssocials-share.jssocials-share-twitter
                              a.jssocials-share-link(href="#" target='_blank')
                                i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Twitter
                            .jssocials-share.jssocials-share-linkedin
                              a.jssocials-share-link(href="#" target='_blank')
                                i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Linkedin
                            .jssocials-share.jssocials-share-facebook
                              a.jssocials-share-link(href="#" target='_blank')
                                i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Facebook
                            .jssocials-share.jssocials-share-email
                              a.jssocials-share-link(href="#" target='_blank')
                                i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
                                span.jssocials-share-label Email
                    li
                      #darkThemeMobile.action-item(style='display: block;')
                        i.fal.fa-moon(aria-hidden='true')
                        span Dark
                      #lightThemeMobile.action-item(style='display: none;')
                        i.fal.fa-sun(aria-hidden='true')
                        span Light
                    li
                      .generate_article_pdf.action-item
                        .generate_article_span
                          i.fal.fa-file-pdf(aria-hidden='true')
                          span PDF
                        span.generate_pdf_spinner(style='display:none')
                .left-sidebar-header-show
                  i.fal.fa-list(aria-hidden='true')
                  span Contents
            #doc_content_block
              .content_container
                .content_container_text_sec
                  .content_container_text_sec_in
                    #smartBarContainer3
                    .content_block_head
                      h1 Why did we build Document360?
                      .article-head-sec
                        .article-info
                          ul
                            li
                              i.fal.fa-calendar-alt(aria-hidden='true')
                              span Updated on 06 Dec 2021
                            li
                              i.fal.fa-clock(aria-hidden='true')
                              span
                                | 2
                                | Minutes to read
                            li.contributors-details
                              .contributors-l
                                | Contributors
                              .contributors-r
                                a(href="#")
                                  img.contributor(src='https://s.gravatar.com/avatar/a393158fa058334fbfc18454164e6e00?s=120&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fsa.png' title='Saravana Kumar')
                                a(href="#")
                                  img.contributor(src='https://cdn.document360.io/users/a00e6200-ee76-42ba-84e0-5bb360fe6d87.jpg?sv=2020-08-04&st=2022-01-28T07%3A08%3A40Z&se=2022-01-28T07%3A09%3A10Z&sr=b&sp=r&sig=j%2BHZ2JdFvkhGyQWZaFXzlKy54%2B6Ovd%2BDUvEHwbUIZog%3D' title='Vishnu bala')
                                a(href="#")
                                  img.contributor(src='https://s.gravatar.com/avatar/a31e757dedf761deaed0bc3522616876?s=120&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fpr.png' title='Pradeepa Somasundaram')
                                a(href="#")
                                  img.contributor(src='https://cdn.document360.io/users/2b75cebb-91c6-4eb7-8716-aa37ebb78da0.png?sv=2020-08-04&st=2022-01-28T07%3A08%3A40Z&se=2022-01-28T07%3A09%3A10Z&sr=b&sp=r&sig=fGt3VuiNNx%2FyQ7ilRchdl6Q48h6Z9nycdQ3dcQCgRcQ%3D' title='Kingson S')
                        .article-action-items
                          ul
                            li
                              .print_page.action-item(onclick='window.print();')
                                i.fal.fa-print(aria-hidden='true')
                                span Print
                            li
                              #showShareIcons.share_content.action-item
                                i.fal.fa-share-square(aria-hidden='true')
                                span Share
                              #shareIconsContainer.social_share(style='display: none;')
                                #shareIcons.jssocials
                                  .jssocials-shares
                                    .jssocials-share.jssocials-share-twitter
                                      a.jssocials-share-link(href="#" target='_blank')
                                        i.fab.fa-twitter.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Twitter
                                    .jssocials-share.jssocials-share-linkedin
                                      a.jssocials-share-link(href="#" target='_blank')
                                        i.fab.fa-linkedin-in.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Linkedin
                                    .jssocials-share.jssocials-share-facebook
                                      a.jssocials-share-link(href="#" target='_blank')
                                        i.fab.fa-facebook-f.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Facebook
                                    .jssocials-share.jssocials-share-email
                                      a.jssocials-share-link(href="#" target='_blank')
                                        i.far.fa-envelope.jssocials-share-logo(aria-hidden='true')
                                        span.jssocials-share-label Email
                            li
                              #darkTheme.action-item(style='display: block;')
                                i.fal.fa-moon(aria-hidden='true')
                                span Dark
                              #lightTheme.action-item(style='display: none;')
                                i.fal.fa-sun(aria-hidden='true')
                                span Light
                            li
                              .generate_article_pdf.action-item
                                .generate_article_span
                                  i.fal.fa-file-pdf(aria-hidden='true')
                                  span PDF
                                span.generate_pdf_spinner(style='display:none')
                      hr
                    .content_block_text(dir='auto')
                      p Hello! This is Saravana Kumar, Founder of Document360.
                      p
                        strong For three years my company struggled to maintain a good knowledge base.
                      p
                        | We were using a knowledge base provided by a customer support tool and were spending most of our time trying to work around gaps in functionality. Eventually we started looking for alternatives, and even started to consider building our own knowledge base software, but didn&apos;t think the world needed another knowledge base platform.
                      blockquote
                        p &quot;We didn&apos;t think the world needed another knowledge base platform.&quot;
                      p
                        | While we were looking for alternative products that matched our requirements, we realized that the market is dominated by customer support vendors who paid little attention to the knowledge base side of their product. They were missing trivial, but crucial, things like version control and auditing. More often then not, category management was either clunky or limited to three levels,  contributor permissions and workflows, if they existed at all, were consistently lacking in granularity. We looked at products that focused purely on knowledge base creation and maintenance. We even moved to one of them, only to realize, after a few weeks, they didn&apos;t scale well.
                      blockquote
                        p
                          | &quot;...we realized that the market is dominated by customer support vendors who paid little attention to the knowledge base side of their product.&quot;
                      p
                        | After going through all this, we went back to our idea of building our own software. Using the lessons we  learned, and setting the goal of providing a solid knowledge base with features that actually made maintaining a  knowledge base easier, such as: thoughtful category management, version control, powerful real-time search, file/media manager, backup/restore,  clean UI/UX,  scalable hosting, etc, we built Document360, and, I speak on behalf on everyone on the Document360  team when I say, we hope you love it.
                      h2#whos-using-document360 Who&apos;s using Document360?
                      p
                        | Some of the top brands in the world such as Microsoft, IATA and many more trust us to empower their users with the answers they need.
                      h3#a-few-customers-live-sites-built-using-document360 A few customers live sites built using Document360:
                      p
                        a(href="#")
                          strong IATA.ORG
                        br
                        a(href="#")
                          strong Kooroong
                        br
                        a(href="#")
                          strong Whatfix
                        br
                        strong Bluescape
                      h2#is-document360-right-for-me Is Document360 right for me?
                      p
                        | Maybe! To help you decide, I&apos;ve put together my honest opinion about knowledge base software, even recommending other products in the market that might of good fit for you based on what you need.
                      p
                        iframe.embed-responsive-item.wistia-player(width='720' height='420' src='https://biztalk360.wistia.com/embed/iframe/4ska5n0q4b' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')
                      p
                        | I&rsquo;ve also created multiple short videos explaining the various features of Document360, and why we&apos;ve built those features.
                      p
                        | Over the next few days of your trial, I&rsquo;ll also email you with tips and suggestions that&apos;ll help you navigate your trail.
                      p
                        | If you have any questions or comments you can reach me anytime at  
                        a(href="#") saravana@document360.io
                      p
                        | Regards,
                        br
                        strong Saravana Kumar
                        br
                        | Founder - Document360
                    #doc_review_container.article-vote-container
                      .txt Was this article helpful?
                      .actions
                        button#reviewLikeButton.btn.yes
                          i.fal.fa-thumbs-up(aria-hidden='true')
                          |  Yes
                        button#reviewDislikeButton.btn.no
                          i.fal.fa-thumbs-down(aria-hidden='true')
                          |  No
                    #doc_feedback_collect(style='display: none')
                      #feedback_box
                        .first-row
                          input#feedback_name.feedback_text(type='text' placeholder='Name (Optional)')
                          input#feedback_mail.feedback_text(type='email' placeholder='Email (Optional)')
                        textarea#feedback_area.feedback_textarea(rows='3' placeholder='Any additional feedback?')
                      .actions
                        button#reviewCancel.btn.btn-cancel(type='button') Skip
                        button#reviewSubmit.btn.btn-primary(type='button') Submit
                    .sperator
                      hr
                    #smartBarContainer4
                .page-action
                  #right_sidebar.right_sidebar_sticky.mCustomScrollbar._mCS_3.mCS_no_scrollbar(style='top: 182px; width: 199px; bottom: 24px; height: 10px; overflow: visible;')
                    #mCSB_3.mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_outside(style='max-height: none;' tabindex='0')
                      #mCSB_3_container.mCSB_container.mCS_y_hidden.mCS_no_scrollbar_y(style='position:relative; top:0; left:0;' dir='ltr')
                        #content_links.article_action_links
                          p
                            span Table of contents
                          #content-links
                            ul
                              ul
                                li#whos-using-document360_li.selected
                                  a(href='#whos-using-document360') Who&apos;s using Document360?
                                  ul
                                    li#a-few-customers-live-sites-built-using-document360_li
                                      a(href='#a-few-customers-live-sites-built-using-document360') A few customers live sites built using Document360:
                                li#is-document360-right-for-me_li
                                  a(href='#is-document360-right-for-me') Is Document360 right for me?
                        .tags-articles
                          p Tags
                          ul
                            li
                              a(href="")
                                | Getting started
                    #mCSB_3_scrollbar_vertical.mCSB_scrollTools.mCSB_3_scrollbar.mCS-light.mCSB_scrollTools_vertical(style='display: none;')
                      .mCSB_draggerContainer
                        #mCSB_3_dragger_vertical.mCSB_dragger(style='position: absolute; min-height: 30px; height: 0px; top: 0px;')
                          .mCSB_dragger_bar(style='line-height: 30px;')
                        .mCSB_draggerRail
